.Field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.Label {
  font-size: 0.8rem;
}

.Input {
  font-size: 1rem;
  border-color: #f5f8fb;
  border-radius: 0.4rem;
  background-color: rgb(255, 255, 255);
  display: block;
  width: 100%;
  border: 1px solid#c9daf0;
  margin-top: 25px;
  outline: none;
  padding: 0 15px;
  height: 35px;
  color: #475c91;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:focus {
    box-shadow: 0 0 0 0.2rem #73aaf2;
    outline: 0;
    border: 1px solid #5aa2ff;
  }
  &::placeholder {
    color: rgb(197, 197, 197);
    font-size: 0.8rem;
  }
}

.Error {
  color: #d94e4e;
  font-size: 0.7rem;
  position: absolute;
  left: 5px;
  bottom: -18px;
}
